<html>
	<head>
		<style>
			.block {
				display: block;
				margin-top: 20px;
			}
		</style>	
	</head>
	<body>
		<form method="POST">
			<label for="factor">Max Speed in mbps:</label>
			<input type="text" name="factor"/>
			<input type="submit"/>
		</form>
		<a href="/static/1GB.txt" class="block">1GB txt</a>
		<a href="/static/100MB.txt" class="block">100MB txt</a>
		<a href="/static/10GB.txt" class="block">10GB txt</a>
	</body>
</html>
